html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: 1rem;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: none;
  font-size: inherit;
}

::placeholder {
  font-size: inherit;
  color: inherit;
}

/* Button reset modified from https://css-tricks.com/overriding-default-button-styles/ */
button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}
