html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: 1rem;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: none;
}

/* Button reset modified from https://css-tricks.com/overriding-default-button-styles/ */
button {
  display: inline-block;
  border: none;
  /* padding: 1rem 2rem; */
  margin: 0;
  text-decoration: none;
  background: none;
  /* color: #ffffff; */
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  /* transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

button:hover,
button:focus {
  /* background: #0053ba; */
}

button:focus {
  outline: 1px solid #fff;
  /* outline-offset: -4px; */
}

button:active {
  transform: scale(0.99);
}
