/* LAYOUT */

#app {
  max-width: 375px;
  margin: 16px auto;
  padding-top: 32px;
  height: calc(100vh - 32px);
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 16px;
  flex-grow: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main > header {
  padding: 16px 0;
  position: relative;
}

.avatar {
  width: 38px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

#message-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow: auto;
  padding: 24px;
}

.message__content {
  display: inline-block;
  padding: 8px 16px;
  width: auto;
  margin-bottom: 5px;
}

main > footer {
  height: 60px;
  padding: 24px;
}

.message-form {
  display: flex;
}

.message-form input {
  flex-grow: 1;
}

/* TYPOGRAPHY */

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
}

header {
  text-align: center;
}

h1,
h2 {
  font-weight: 700;
}

.status-text.small {
  font-size: 12px;
}

.inbound {
  text-align: left;
}

.outbound {
  text-align: right;
}

/* COLORS */

:root {
  --primary-color: #ef5351;
}

html,
body {
  background-color: #f2ede7;
  color: rgba(0, 0, 0, 0.8);
}

#app {
  background-color: var(--primary-color);
}

h1 {
  color: rgba(255, 255, 255, 0.9);
}

main {
  background-color: white;
}

.message.inbound .message__content {
  background-color: var(--primary-color);
  color: rgba(255, 255, 255, 0.9);
}

.message.outbound .message__content {
  background-color: #f7f7f7;
}

/* Decoration */
#app {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main > header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.message__content {
  border-radius: 10px;
}

main > footer {
  border-top: 1px solid #e5e5e5;
}

/* Animation */

.animate-entry {
  transition: transform 200ms ease-in-out;
}

.animate-entry.inbound {
  transform-origin: left top;
}

.animate-entry.outbound {
  transform-origin: right top;
}

.animate-entry.hidden {
  transform: scale(0);
}
