/* LAYOUT */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  padding-top: 32px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 650px) {
  #app {
    max-width: calc(600px - (2 * 16px));
    margin-top: 16px;
  }
}

h1 {
  margin-bottom: 16px;
  flex-grow: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main > header {
  padding: 16px 0;
  position: relative;
}

.avatar {
  width: 38px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

#message-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding: 24px;
}

#message-list > :first-child {
  /* work around for justify-content: flex-end bug https://github.com/philipwalton/flexbugs/issues/53 */
  margin-top: auto;
}

.message-block {
  margin-bottom: 10px;
}

.message__content {
  display: inline-block;
  padding: 8px 16px;
  width: auto;
  margin-bottom: 5px;
}

aside.timestamp {
  padding: 0 16px;
}

main > footer {
  height: 60px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-form {
  display: flex;
}

.message-form input {
  flex-grow: 1;
}

#app > footer {
  margin: 10px 0;
}

/* SCROLL BEHAVIOUR */

#message-list {
  scroll-snap-type: y proximity;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-block:last-child {
  scroll-snap-align: end;
  scroll-margin-block-end: 1.5rem; /*TODO this seems hacky, find another way to fix the scroll position */
}

/* TYPOGRAPHY */

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
}

header {
  text-align: center;
}

h1,
h2 {
  font-weight: 700;
}

.status-text.small {
  font-size: 12px;
}

.inbound {
  text-align: left;
}

.outbound {
  text-align: right;
}

aside.timestamp {
  font-size: 12px;
  font-weight: 700;
}

footer small {
  font-size: 10px;
}

/* COLORS */

:root {
  --primary-color: rgb(239, 83, 81);
  --primary-color-transparent: rgba(239, 83, 81, 0.5);
}

html,
body {
  background-color: #f2ede7;
  color: rgba(0, 0, 0, 0.8);
}

#app {
  background-color: var(--primary-color);
}

h1 {
  color: rgba(255, 255, 255, 0.9);
}

main {
  background-color: white;
}

.message.inbound .message__content {
  background-color: var(--primary-color);
  color: rgba(255, 255, 255, 0.9);
}

.message.outbound .message__content {
  background-color: #f7f7f7;
}

aside.timestamp {
  color: rgba(0, 0, 0, 0.5);
}

/* DECORATION */
@media screen and (min-width: 650px) {
  #app {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  main {
    border-radius: 15px 15px 0 0;
  }

  main > footer {
    border-radius: 0 0 15px 15px;
  }
}

main {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main > header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.message.inbound .message__content {
  border-radius: 3px 10px 10px 3px;
}

.message.inbound:first-child .message__content {
  border-top-left-radius: 10px;
}

.message.inbound:last-child .message__content {
  border-bottom-left-radius: 10px;
}

.message.outbound .message__content {
  border-radius: 10px 3px 3px 10px;
}

.message.outbound:first-child .message__content {
  border-top-right-radius: 10px;
}

.message.outbound:last-child .message__content {
  border-bottom-right-radius: 10px;
}

main > footer {
  border-top: 1px solid #e5e5e5;
}

/* ANIMATION */

.animate-entry {
  transition: transform 200ms ease-in-out;
}

.animate-entry.inbound {
  transform-origin: left top;
}

.animate-entry.outbound {
  transform-origin: right top;
}

.animate-entry.hidden {
  transform: scale(0);
}

.status-text.typing:after {
  content: "\2026"; /* eliipsis character */
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  width: 0;
  position: absolute;
  text-align: left;
  animation: ellipsis steps(4, end) 900ms infinite;
}

@keyframes ellipsis {
  to {
    width: 1em;
  }
}

/* USER INPUT */

main > footer:focus-within {
  box-shadow: inset 0 0 5px var(--primary-color);
}

input:focus {
  outline: none;
}

button {
  color: rgba(0, 0, 0, 0.8);

  width: 38px;
  height: 38px; /*TODO calc this */
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

button:focus,
button:hover,
button:active {
  outline: none;
  background-color: var(--primary-color);
  color: rgba(255, 255, 255, 0.9);
}
